<h2 style="color: purple;"><i class="fas fa-gamepad"style="margin-right: 5px;"></i>AceGamerAPI</h2>
<div class="section">
  <p class="lead" style="font-size: 14px;">Discover trending games and find the best deal to start playing right away</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i> Log in with Google
  </a>
</div>
