<nav class="purple darken-3">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo center"><i class="fas fa-gamepad"style="margin-right: 5px;"></i>AceGamerAPI</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
      <i class="fas fa-bars"></i>
    </a>
    <ul class="sidenav" id="mobile-demo">
      <li>
        <form style="margin: 5px" action="http://localhost:8086/game">
          <div class="input-group" style="white-space: nowrap; overflow-x: auto;">
            <div class="input-group-btn" style="display: inline-block">
              <button class="btn btn-default purple" style="padding-bottom: 0px" type="submit">
                GO
              </button>
            </div>
            <input type="text" id="name" name="name" class="form-control" placeholder="Search" style="display: inline-block">
          </div>
        </form>
      </li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </div>
</nav>
